.logosize {
  height: 50px;
}

.form-control {
  border-color: #C9C9C9 !important;
}

.form-check-input {
  border: 2px solid #C9C9C9 !important;
  background-color: transparent;
}

.form-check-input:checked[type=radio] {
  background-color: #03053d !important;
}

.formLabel {
  color: #4A4A4A;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-nodrop {
  cursor: no-drop;
}

.errorText {
  padding-top: 0px;
  font-size: 11px;
  color: red;
  position: absolute;
  left: 1%;
}

/*Font Size css start*/
.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-30 {
  font-size: 30px;
}

/*Font Size css end*/
.custom-label {
  background: #03053d;
  color: white;
  font-size: 12px;
  font-weight: 500;
  left: 9px;
  padding: 0 3px;
  position: absolute;
  top: -6px;
  z-index: 1;
}

.customInput {
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  padding: 0.7rem 1.1rem;
  width: 100%;
}

.customInput:focus {
  border-color: #80bcfc;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.customInput::placeholder {
  color: white;
  opacity: 50%;
}

.WhiteBtn {
  border: none;
  font-size: 13px;
  color: #03053d;
  background: white;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: 600;
  border: 1px solid white;
}

.WhiteBtn:hover {
  background-color: #03053d;
  color: white;

}

.borderBtn {
  font-size: 13px;
  color: white;
  background: transparent;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: 600;
  border: 1px solid white;
}

.overflowXHidden {
  overflow-x: hidden;
}


.GridHeader {
  background: #050854;
  color: white;
  font-size: 15px;
  padding: 11px 5px;
  font-weight: 600;
  border-radius: 5px;
}

.GridData {
  color: #E0E0E0;
  font-size: 14px;
  border-bottom: 1px solid #484155;
  padding-top: 13px;
  padding-bottom: 13px;
  word-wrap: break-word;
}

.iconsize {
  height: 20px;
  width: 20px;
}

.bigiconsize {
  height: 23px;
  width: 23px;
}

select {
  font-size: 13px !important;
}

.norecorddiv {
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #484155;
  padding: 10px;
}


.fontwhite {
  color: white;
}

.parent-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.graycolor {
  color: #BBBABA;
}

.h-100vh {
  height: 100vh !important;
}

/*custom input group */
.property-form .form-control {
  background-color: transparent;
  color: white;
}


.PageHeader {
  color: white;
  font-size: 15px;
  background-color: #303260;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.logout-icon {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

.top-35 {
  top: 35% !important;
}

/* loadingbar css */
.progressbarClass.CustomProgressbar>div {
  background: repeating-linear-gradient(-45deg, #303260, #303260 10px, #8B98B1 10px, #8B98B1 20px) !important;
  animation: progressAnimation 3s linear infinite;
}

@keyframes progressAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }
}

.progressbarClass {
  position: unset !important;
  height: 11px !important;
  background: transparent !important;
  z-index: 2147483647 !important;
  width: 100%;
  border-radius: 6px !important;
  box-shadow: none !important;
}

.progressbarClass>div>div {
  box-shadow: none !important;
  width: 0 !important;
}

.grecaptcha-badge {
  bottom: 0px !important;
}

.light-grey-color {
  color: #E4E4E4;
}

.text-danger {
  color: #F04349 !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  width: 13px;
  height: 13px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 3px;
}

input[type="checkbox"]:checked {
  background-color: #030A43;
  border-color: #030A43;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.normalbg[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 3px;
}

.normalbg[type="checkbox"]:checked {
  background-color: #030A43;
  border-color: #030A43;
}

.normalbg[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}