@import './common.css';
@import './alert.css';
@import './custompagination.css';
@import './leadmanagement.css';
@import './loader.css';
@import './login.css';
@import './modal.css';
@import './property.css';
@import './sideTopMenu.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}