.loader-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #29292940; */
    background-color: transparent;
    color: brown;
}

.blur-background {
    filter: blur(1px);
    pointer-events: none;
}
