.color-D8DADCE5 {
  color: #D8DADCE5;
}

.phonenumber_first_input {
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

.phonenumber_second_input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.w-30 {
  width: 30%;
}

.otpBtn {
  border: none;
  font-size: 14px;
  color: black;
  background: white;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
}

.cancelBtn {
  border: 1px solid #40416C;
  font-size: 14px;
  color: #CFD0DA;
  background: transparent;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
}

.custom-radio .form-check-input {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
  outline: none;
}

.custom-radio .form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.custom-radio .form-check-input:checked {
  background-color: white;
  border: 2px solid white;
}

.custom-radio .form-check-input:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otpInput {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  padding: 1.7rem 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  border-radius: 10px;
  transition: border 0.15s ease-in-out;
}


.otpInput:focus {
  outline: none;
}