.propertiesOptions {
    background: #46486f6b;
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 30px 65px;
}

.propertiesOptions:hover {
    background: #46486F;
    border: 2px solid white;
    opacity: 100%;
}

.subPropertyTypesBtn {
    border: 1px solid white;
    background: transparent;
    color: #E4E4E4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 15px;
}

.subPropertyTypesBtn:hover {
    background: #aab8ff;
    color: black;
}

.subPropertyTypeActive {
    background: #aab8ff;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 15px;
    border: none;
}

.property-card {
    background: #303260;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 130px;
    /* Adjust this width as per the design */
}

.img-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
    padding: 5px 9px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.property-card .content-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    /* Ensure this section takes remaining space */
}

.property-card .fontwhite {
    color: white;
    font-size: 14px;
}

.property-card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-card .row label {
    color: white;
    font-weight: bold;
}

.property-container {
    display: flex;
    gap: 20px;
    /* Spacing between property cards */
}

.upload-image-box {
    padding: 10px 27px;
    border-radius: 5px;
    border: 1px dashed #C4C4C4
}

.back-prev-icon {
    border: 1px solid #CCCCCC99;
    border-radius: 50%;
    padding: 7px 9px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.activeIcon {
    background-color: rgb(48, 50, 96);
    border: 1px solid rgb(48, 50, 96);
}

.scroll-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.back-prev-icon.activeIcon,
.back-prev-icon.disabled {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.back-prev-icon.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.usersdiv {
    border: 1px solid #585AB5;
    border-radius: 5px;
    background: #AAB8FF0A;
}

.userheader {
    background: #303260;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
}

.usergrids {
    border-bottom: 1px solid #FCFCFC4D;
    background: #03053D;
    font-size: 13px;
    padding: 12px;
}


.profileIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #303260;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer !important;
    border: none;
}