.smallgridheader {
    background: #555A8F;
    color: white;
    font-size: 14px;
    padding: 7px 5px;
    font-weight: 600;
    border-radius: 5px;
}

.smallgriddata {
    border-bottom: 1px solid #555A8F;
    padding: 7px 5px;
    font-size: 13px;
    color: white;
}