.side-menu .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #8b98b1;
    width: 100%;
}
.topmenu-wrapper{
    background-color: #303260;
}
.search-icon{
    position: absolute;
    top: 5px;
    height: 30px;
    left: 25px;
}
.custom-dropdown .dropdown-toggle::after {
    margin-left: .7em;
}